@page
@using Martin_CRUD_THE_SQL.Models
@model Martin_CRUD_THE_SQL.Pages.Checkout.OrderConfirmationModel

<div class="container">
    <h1>Order Confirmation</h1>
    <p>Thank you for your order!</p>
    <p>Your order has been successfully processed!</p>
    <p>Welcome @Model.FirstName, your Customer Number is @Model.CustomerId and your order number is @Model.OrderNumber</p>
    <p>Your order of the following products is on the way:</p>
    <ul>
        @foreach (Product product in Model.Products)
        {
            <li>@product.ProductName</li>
        }
    </ul>
    <a class="btn btn-primary" href="/">Back to Home</a>
</div>
